<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--<connectionStrings>
    <add name="Con" connectionString="Data Source=DESKTOP-4C58VKH\MSSQLSERVER01;Integrated Security=true;Initial Catalog=HManagement" />
    --><!--<add name="Con" connectionString="Data Source=localhost;Initial Catalog=MyDatabase;Integrated Security=True" />--><!--
  </connectionStrings>-->

  <appSettings>
    <add key="Con" value="Data Source=DESKTOP-4C58VKH\MSSQLSERVER01;Integrated Security=true;Initial Catalog=HManagement" />
    <add key="TName" value="Test3" />
    <add key="Path" value="D:\Umer Wahiid\Users.csv"/>
    <add key="PathCSV" value="D:\Umer Wahiid\"/>
  </appSettings>
</configuration>